@import "../../scss/variables.scss";

.carousel {
    user-select: none;

    .swiper {
        display: grid;

        .swiper-wrapper {
            min-width: 0;

            .swiper-slide {
                &::after {
                    content: "";
                    background: linear-gradient(#00000000, #0000004f);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                }

                .title {
                    position: absolute;
                    bottom: 32px;
                    left: 32px;
                    @include title;
                    z-index: 2;
                    color: white;
                }
                img {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                    position: relative;

                }
            }
        }
    }
}