
#header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
  position: fixed;
  border-bottom: solid 3px #ff0000;
  box-shadow: 0 0 20px -5px #000000;
}
.header-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.header-link{
  padding: 2rem;
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  text-decoration-line: none;
  transition: background-color ;
  cursor: pointer;
}


.body{
  height: 200vh;
  background: linear-gradient(#ffffff,rgb(255, 2, 255));
}
.green{
  background: linear-gradient(#000000,rgb(2, 255, 19));
}
.red{
  background: linear-gradient(#000000,rgb(255, 2, 2));
}
.blue{
  background: linear-gradient(#000000,rgb(61, 2, 255));
}
.yellow{
  background: linear-gradient(#000000,rgb(221, 255, 2));
}